@import "colors";

// Colors
$color-primary: $color-curious-blue;
$color-primary-hover: $color-danube;
$color-error: $color-red;

$color-text: $color-woodsmoke;
$color-text-disabled: $color-dusty-gray;

$color-accent-1: $color-bon-jour;
$color-accent-2: $color-porcelain;
$color-accent-3: $color-sea-shell;

$main-background: $color-white;
$form-background: $color-mercury;

//Box shadows
$box-shadow-button: $box-shadow-1;
$box-shadow-picklist: $box-shadow-2;
$box-shadow-layout: $box-shadow-3;
